.impressed {
  background: url(../img/person-bg.jpg) no-repeat;
  background-size: cover;
  padding: 2em;

  .impressed-wrapper {
    color: #b2b3b3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1024px;
    padding: 2em 0;

    .impressed-text {
      flex: 1 1 auto;
      margin-right: 3em;
      max-width: 30em;

      h2 {
        font-weight: 300;
      }

      p {
        line-height: 2em;
        margin-top: 6em;
      }

      h3 {
        font-size: 1em;
        margin: 2em 0 0;
        text-transform: uppercase;
      }

      .creative-director {
        margin: 0 0 4em 0;
        text-transform: uppercase;
      }

      .green {
        color: #19bd9a;
      }
    }

    img {
      flex: 1 1 auto;
      height: 330px;
      margin-right: -5em;
      margin-top: -8em;
      max-width: 410px;
      padding: 2em;
    }


  }
}

@media screen and (max-width: 920px) {
  .impressed {
    .impressed-wrapper {
      .impressed-text {
        max-width: 50em;
      }
      img {
        display: none;
      }
  }
  }
  }
