.portfolio {
  background-color: #f3f3f3;

  .portfolio-wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 2em 0;

    h2 {
      color: #333b46;
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: 0.3em;
      margin: 1em 0;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      color: #9c9fa5;
      font-size: 1.1em;
      margin: 1em auto;
      max-width: 30em;
      text-align: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;

      li {
        color: #575757;
        cursor: pointer;
        font-size: 1.2em;
        padding: 1em;
      }
    }

    .portfolio-images-wrap {
      align-content: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1024px;

      .portfolio-images {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        transition: 3s;
        max-height: 50rem;
      }

      img {
        margin: 0.5em 0.5em 0.5em 0;
        transition: 3s;
        width: 240px;
      }
    }
  }
}

.portfolio-footer {
  background-color: #f3f3f3;

  .portfolio-footer-wrapper {
    background: url(../img/portfolio-down.jpg) no-repeat;
    margin: 0 auto 2em;
    max-width: 1024px;
    overflow: hidden;

    p {
      color: white;
      font-size: 1.2em;
      font-weight: 300;
      padding: 3em 0 1em;
      text-align: center;
    }

    input {
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #ffffff;
      border-radius: 20px;
      color: white;
      display: flex;
      font-size: 1em;
      max-width: 140px;
      margin: 0 auto 3em;
      padding: 0.7em;
      transition: 1s;

      &:hover {
        background-color: white;
        color: #19bd9a;
      }
    }
  }
}

@media screen and (min-width: 758px) and (max-width:1000px) {
  .portfolio {
    .portfolio-wrapper {
      .portfolio-images-wrap {
        .portfolio-images {
          max-height: 70em;
        }
      }
    }
  }
}

@media screen and (max-width: 758px) {
  .portfolio {
    .portfolio-wrapper {
      .portfolio-images-wrap {
        .portfolio-images {
          max-height: 120em;
        }
      }
    }
  }
}

@media screen and (max-width: 526px) {
  .portfolio {
    .portfolio-wrapper {
      .portfolio-images-wrap {
        .portfolio-images {
          max-height: 200em;
        }
      }
    }
  }
}
